body{
      font-family: 'Segoe UI', sans-serif;
      background-color: #fff8f0;
      color: #4e342e;
      line-height: 1.7;
      margin: 0;
      padding: 0;
    }
    .container {
      max-width: 1000px;
      margin: auto;
      padding: 40px 20px;
    }
    h1, h2 {
      color: #3e2723;
      margin-bottom: 15px;
    }
    p, ul {
      margin-bottom: 25px;
    }
    ul {
      list-style: disc;
      padding-left: 20px;
    }
    .highlight {
      color: #a0522d;
      font-weight: bold;
    }
    .quote {
      font-style: italic;
      color: #6d4c41;
      border-left: 4px solid #d7ccc8;
      padding-left: 15px;
      margin: 30px 0;
    }
    footer {
      width: 100%;
      background-color: #222;
      color: white;
      padding: 20px 0px; /* Top-Bottom and Left-Right padding */
      margin-top: 50px; /* space between content and footer */
    }