 body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .registration-container {
      background: rgba(107, 38, 10, 0.866);
      padding: 40px;
      border-radius: 10px;
      width: 300px;
    }

    .registration-container h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .registration-container input[type="text"],
    .registration-container input[type="number"],
    .registration-container input[type="email"],
    .registration-container input[type="password"]
     {
      width: 100%;
      padding: 10px;
      margin: 10px;
      border: 1px solid #ccc;
    }

    .registration-container input[type="submit"] {
      width: 100%;
      background-color: #b56035;
      color: white;
      padding: 10px;
      margin-top: 15px;
      border-radius: 5px;
      cursor: pointer;
    }

    .registration-container input[type="submit"]:hover {
      background-color: #b56035;
    }

    .registration-container a {
      color: #000000f2;
      text-decoration: none;
    }